body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #13171b;
    font-family: Arial, Helvetica, sans-serif;
}
/*-- inicio animaçoes --*/ 
.fundo-1::after {
    /*-- passa abaixo do fundo-1 --*/
    content: ".";
    width: 100vw;
    height: 0px;
    position: absolute;
    right: 150%;
    box-shadow: 1px 1px 5px 1px #a200ff ;
    transition: right, opacity;
    transition-duration: 500ms;
    opacity: 0;
}
.fundo-1:hover:after {
    right: 1%;
    opacity: 1;
}
.follow-cursor {
    /*-- luz que segue o cursor do mouse --*/ 
    width: 1px;
    height: 2px;
    background-color: #a200ff;
    box-shadow: 5px 5px 100px 70px #a200ff;
    position: relative;
    text-align: center;
    z-index: -1;
    animation: rotate 2s linear infinite;
    transition: left 0.1s ease, top 0.1s ease;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*-- inicio fundo 1 --*/
.fundo-0 {
    height: 100vh;
}
.fundo-1 {
    width: fit-content;
    margin:30vh auto;
    padding: 20px;
    color: #c8d1db;
}
.fundo-1 h3 {
    font-size: clamp( 1rem, 1.5vw, 2rem) ;
    text-transform: uppercase;
    margin: 0;
}
.fundo-1 h1 {
    font-size: clamp( 2rem, 6vw, 8rem);
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.fundo-1 p {
    margin: 0;
    font-size: clamp(0.5rem, 1vw, 1.5vw);
    text-align: right;
}
/*-- final fundo 1 --*/

/*-- inicio .transicao --*/
.transicao {
    height: 1px;
}
/*-- final transicao --*/

/*-- inicio fundo 2 --*/
.fundo-2 {
    /*background: linear-gradient(#A7C7E7, #c8d1db, #c8d1db);*/
    background: linear-gradient(#6d859c, #989fa7, #8c939b, #5c6f81);
    height: 30vh;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.fundo-2 h2 {
    margin: 0 auto;
    color: #13171b;
    font-size: clamp( 2rem, 4vw, 6rem);
}
.contacto-icons {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}
.contacto-icons img {
    border: 1px solid #c8d1db;
    border-radius: 50px;
}
.contacto-icons img:hover {
    border: 1px solid #a200ff;
    border-radius: 50px;
}

/*-- final fundo 2 --*/

/*-- inicio fundo 3 --*/
.fundo-3 {
    background: linear-gradient(#5c6f81, #4d5c6d, #13171b);
}
.tabela-projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.fundo-3 h1 {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    color: #13171b;
    font-size: clamp( 2rem, 4vw, 6rem);
}
.fundo-3 a {
    text-decoration: none;
    width: 100%;
    color: #c8d1db;
}
.fundo-3 img {
    max-width: 100%;
    height: auto;
}
.tabela-projetos > * {
    margin: 80px auto;
    padding: 10px;
    border: 1px solid #13171b;
    border-radius: 6px;
    text-align: center;
}

.fundo-3 .tabela-projetos > *:hover {
    border: 1px solid #a200ff;
}
/*-- final fundo 3 --*/

/*-- inicio footer --*/
footer > * {
    display: grid;
    width: 100%;
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
}
footer h6 {
    font-size: clamp( 1rem, 2vw, 2rem);
    color: #989fa7;
    margin-top: 0;
}
footer li {
    list-style: none;
}
footer img {
    border: 1px solid #a200ff;
    border-radius: 50px;
}
footer img:hover {
    border: 1px solid #c8d1db;
}
.coluna-rodape-1 {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}
.contato {
    padding: 0 0 50px 0;
}
.contato li {
    padding: 5px 0;
}
.contato a {
    color: #989fa7;
    font-weight: 700;
}
.contato a:hover {
    color: #13171b;
}
.redes {
    display: flex;
    text-align: center;
    flex-direction: column;
}
/*-- final footer --*/