body {
	margin: 0;
	padding: 0;
}
header {
	background: url(../img/fundo.png) repeat;
	border: solid red 1px;
	height: 200px;
}
.logo {
	background: url(../img/logo.png);
}
header nav a {
	display: flex;

}
nav {
	
	
}
